.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #c7d6dc;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 5px;
  justify-content: center;
}

.button:hover {background-color: #4090c3}

.button:active {
  background-color: #49e5da;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.App {
  display: inline-flex;
  justify-content: center;
  padding: 5px;
  margin-top: 200px;
  border: 2px solid #666;
  border-radius: 25px;
  align-items: center;
  margin-left: 500px;
}